In [584]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np

In [585]:
import random

In [586]:
urls = [
    ('https://excheck.pro/company/5001026970/finances?type=results&year=2013'),
    ('https://excheck.pro/company/5001026970/finances?type=results&year=2014'),
    ("https://excheck.pro/company/5001026970/finances?type=results&year=2015"),
    ("https://excheck.pro/company/5001026970/finances?type=results&year=2016"),
    ("https://excheck.pro/company/5001026970/finances?type=results&year=2017"),
    ("https://excheck.pro/company/5001026970/finances?type=results&year=2018"),
    ("https://excheck.pro/company/5001026970/finances?type=results&year=2019"),
    ("https://excheck.pro/company/5001026970/finances?type=results&year=2020"),
    ("https://excheck.pro/company/5001026970/finances?type=results&year=2021")
]

info = []

for url in urls:
    responce = requests.get(url)
    soup = BeautifulSoup(responce.text, "lxml")
    s = soup.find("span", class_ ="accounting-value")
    s.text
    info += s
print(info)

['6,4 млрд ₽', '7,9 млрд ₽', '12,8 млрд ₽', '20,6 млрд ₽', '26,6 млрд ₽', '22,8 млрд ₽', '19,3 млрд ₽', '22,5 млрд ₽', '22,9 млрд ₽']

In [587]:
df = pd.DataFrame({
  "year" : ['2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021'],
  'revenue': info})
df

   year      revenue
0  2013   6,4 млрд ₽
1  2014   7,9 млрд ₽
2  2015  12,8 млрд ₽
3  2016  20,6 млрд ₽
4  2017  26,6 млрд ₽
5  2018  22,8 млрд ₽
6  2019  19,3 млрд ₽
7  2020  22,5 млрд ₽
8  2021  22,9 млрд ₽

In [588]:
df['revenue'] = pd.to_numeric(df['revenue'].str.replace('\D', ''), errors='coerce')
df

<ipython-input-588-181291cc6f3f>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['revenue'] = pd.to_numeric(df['revenue'].str.replace('\D', ''), errors='coerce')

   year  revenue
0  2013       64
1  2014       79
2  2015      128
3  2016      206
4  2017      266
5  2018      228
6  2019      193
7  2020      225
8  2021      229

In [589]:
df['revenue'] = df['revenue'].apply(lambda x: x * 1000000000)
df

   year       revenue
0  2013   64000000000
1  2014   79000000000
2  2015  128000000000
3  2016  206000000000
4  2017  266000000000
5  2018  228000000000
6  2019  193000000000
7  2020  225000000000
8  2021  229000000000

In [590]:
df1 = pd.date_range(start='31/12/2012', end = '31/12/2021', freq='W')
df1 = pd.DataFrame(df1)
df1

/usr/local/lib/python3.9/dist-packages/IPython/core/interactiveshell.py:3553: UserWarning: Parsing '31/12/2012' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  exec(code_obj, self.user_global_ns, self.user_ns)
/usr/local/lib/python3.9/dist-packages/IPython/core/interactiveshell.py:3553: UserWarning: Parsing '31/12/2021' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  exec(code_obj, self.user_global_ns, self.user_ns)

             0
0   2013-01-06
1   2013-01-13
2   2013-01-20
3   2013-01-27
4   2013-02-03
..         ...
464 2021-11-28
465 2021-12-05
466 2021-12-12
467 2021-12-19
468 2021-12-26

[469 rows x 1 columns]

In [591]:
df1.columns = ['weaks'] 
df1

         weaks
0   2013-01-06
1   2013-01-13
2   2013-01-20
3   2013-01-27
4   2013-02-03
..         ...
464 2021-11-28
465 2021-12-05
466 2021-12-12
467 2021-12-19
468 2021-12-26

[469 rows x 1 columns]

In [592]:
r = []
for i in df['revenue']:
  r.append(round(i / 52))
r

[1230769231,
 1519230769,
 2461538462,
 3961538462,
 5115384615,
 4384615385,
 3711538462,
 4326923077,
 4403846154]

In [593]:
df1['revenue'] = ''
df1

         weaks revenue
0   2013-01-06
1   2013-01-13
2   2013-01-20
3   2013-01-27
4   2013-02-03
..         ...     ...
464 2021-11-28
465 2021-12-05
466 2021-12-12
467 2021-12-19
468 2021-12-26

[469 rows x 2 columns]

In [594]:
df1['revenue'].iloc[:52] = r[0]
df1['revenue'].iloc[52:104] = r[1]
df1['revenue'].iloc[104:156] = r[2]
df1['revenue'].iloc[156:208] = r[3]
df1['revenue'].iloc[208:260] = r[4]
df1['revenue'].iloc[260:312] = r[5]
df1['revenue'].iloc[312:364] = r[6]
df1['revenue'].iloc[364:416] = r[7]
df1['revenue'].iloc[416:] = r[8]
print(df1)

         weaks     revenue
0   2013-01-06  1230769231
1   2013-01-13  1230769231
2   2013-01-20  1230769231
3   2013-01-27  1230769231
4   2013-02-03  1230769231
..         ...         ...
464 2021-11-28  4403846154
465 2021-12-05  4403846154
466 2021-12-12  4403846154
467 2021-12-19  4403846154
468 2021-12-26  4403846154

[469 rows x 2 columns]

<ipython-input-594-326eea859190>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['revenue'].iloc[:52] = r[0]
<ipython-input-594-326eea859190>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['revenue'].iloc[52:104] = r[1]
<ipython-input-594-326eea859190>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['revenue'].iloc[104:156] = r[2]
<ipython-input-594-326eea859190>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['revenue'].iloc[156:208] = r[3]
<ipython-input-594-326eea859190>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['revenue'].iloc[208:260] = r[4]
<ipython-input-594-326eea859190>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['revenue'].iloc[260:312] = r[5]
<ipython-input-594-326eea859190>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['revenue'].iloc[312:364] = r[6]
<ipython-input-594-326eea859190>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['revenue'].iloc[364:416] = r[7]
<ipython-input-594-326eea859190>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['revenue'].iloc[416:] = r[8]

In [595]:
arr13 = []
sub = 0.0
z = 0
for i in df1['revenue']:
    if z <=7:          #январь февраль
        coef = 0.1  
        sub += 0.014
        coef += sub
        f = i * coef
        arr13.append(f)
    elif 7 < z <= 20:    # весна
        coef = 0.09
        sub += 0.046
        coef += sub
        f = i * coef
        arr13.append(f)
    elif 20 < z <= 33:   #лето
        coef = 0.13
        sub += 0.04
        coef += sub
        f = i * coef
        arr13.append(f)
    elif 33 < z <= 46:     #осень
        coef = 0.1
        sub += 0.031
        coef += sub
        f = i * coef
        arr13.append(f)
    elif 46 < z <= 51:         #декабрь
        coef = 0.09
        sub += 0.039
        coef += sub
        f = i * coef
        arr13.append(f)
    z+=1  
    
print(len(arr13))
print(sum(arr13))

52
63984000011.996994

In [596]:
z = 0 
sub = 0.0
arr14 = []
for i in df1['revenue']:
    if 51 < z <= 59:        #январь февраль 
        coef = 0.7
        sub += 0.011
        coef += sub
        f = i * coef
        arr14.append(f)
    elif 59 < z <= 72:    # весна
        coef = 0.07
        sub += 0.03
        coef += sub
        f = i * coef
        arr14.append(f)
    elif 72 < z <= 86:   #лето
        coef = 0.1
        sub += 0.02
        coef += sub
        f = i * coef
        arr14.append(f)
    elif 86 < z <= 99:     #осень
        coef = 0.89
        sub += 0.025
        coef += sub
        f = i * coef
        arr14.append(f)
    elif 99 < z <= 103:         #декабрь
        coef = 0.8
        sub += 0.04
        coef += sub
        f = i * coef
        arr14.append(f)
    z += 1
print(len(arr14))
print(sum(arr14))

52
79916096141.70702

In [597]:
z = 0
sub = 0.0
arr15 = []
for i in df1['revenue']:
  if 103 < z <= 111:        #январь февраль
      coef = 0.25
      sub += 0.019
      coef += sub
      f = i * coef
      arr15.append(f)
  elif 111 < z <= 125:    # весна
      coef = 0.21
      sub += 0.04
      coef += sub
      f = i * coef
      arr15.append(f)
  elif 125 < z <= 138:   #лето
      coef = 0.23
      sub += 0.02
      coef += sub
      f = i * coef
      arr15.append(f)
  elif 138 < z <= 151:     #осень
      coef = 0.21
      sub += 0.038
      coef += sub
      f = i * coef
      arr15.append(f)
  elif 151 < z <= 155:         #декабрь
      coef = 0.24
      sub += 0.03
      coef += sub
      f = i * coef
      arr15.append(f)  
  z += 1
print(len(arr15))
print(sum(arr15))

52
127916307716.29198

In [598]:
z = 0
sub = 0.0
arr16 = []
for i in df1['revenue']:
  if 155 < z <= 164:        #январь февраль
      coef = 0.25
      sub += 0.0163
      coef += sub
      f = i * coef
      arr16.append(f)
  elif 164 < z <= 177:    # весна
      coef = 0.21
      sub += 0.04
      coef += sub
      f = i * coef
      arr16.append(f)
  elif 177 < z <= 190:   #лето
      coef = 0.23
      sub += 0.03
      coef += sub
      f = i * coef
      arr16.append(f)
  elif 190 < z <= 203:     #осень
      coef = 0.21
      sub += 0.03
      coef += sub
      f = i * coef
      arr16.append(f)
  elif 203 < z <= 207:         #декабрь
      coef = 0.24
      sub += 0.039
      coef += sub
      f = i * coef
      arr16.append(f)  
  z += 1
print(len(arr16))
print(sum(arr16))

52
205927107716.2992

In [599]:
z = 0
sub = 0.0
arr17 = []
for i in df1['revenue']:
  if 207 < z <= 216:        #январь февраль
      coef = 0.28
      sub += 0.011
      coef += sub
      f = i * coef
      arr17.append(f)
  elif 216 < z <= 229:    # весна
      coef = 0.2
      sub += 0.026
      coef += sub
      f = i * coef
      arr17.append(f)
  elif 229 < z <= 242:   #лето
      coef = 0.28
      sub += 0.047
      coef += sub
      f = i * coef
      arr17.append(f)
  elif 242 < z <= 255:     #осень
      coef = 0.28
      sub += 0.033
      coef += sub
      f = i * coef
      arr17.append(f)
  elif 255 < z <= 260:         #декабрь
      coef = 0.26
      sub += 0.029
      coef += sub
      f = i * coef
      arr17.append(f) 
  z += 1
print(len(arr17))
print(sum(arr17))

53
265918884596.73502

In [600]:
z = 0
sub = 0.0
arr18 = []
for i in df1['revenue']:
  if 260 < z <= 268:        #январь февраль
      coef = 0.049
      sub += 0.011
      coef += sub
      f = i * coef
      arr18.append(f)
  elif 268 < z <= 281:    # весна
      coef = 0.043
      sub += 0.0353
      coef += sub
      f = i * coef
      arr18.append(f)
  elif 281 < z <= 294:   #лето
      coef = 0.044
      sub += 0.015
      coef += sub
      f = i * coef
      arr18.append(f)
  elif 294 < z <= 307:     #осень
      coef = 0.042
      sub += 0.15
      coef += sub
      f = i * coef
      arr18.append(f)
  elif 307 < z <= 312:         #декабрь
      coef = 0.042
      sub += 0.01
      coef += sub
      f = i * coef
      arr18.append(f)  
  z += 1
print(len(arr18))
print(sum(arr18))

52
227924790404.9872

In [601]:
z = 0
sub = 0.0
arr19 = []
for i in df1['revenue']:
  if 312 < z <= 320:        #январь февраль
      coef = 0.059
      sub += 0.031
      coef += sub
      f = i * coef
      arr19.append(f)
  elif 320 < z <= 333:    # весна
      coef = 0.037
      sub += 0.03
      coef += sub
      f = i * coef
      arr19.append(f)
  elif 333 < z <= 346:   #лето
      coef = 0.044
      sub += 0.04
      coef += sub
      f = i * coef
      arr19.append(f)
  elif 346 < z <= 359:     #осень
      coef = 0.049
      sub += 0.04
      coef += sub
      f = i * coef
      arr19.append(f)
  elif 359 < z <= 364:         #декабрь
      coef = 0.059
      sub += 0.2
      coef += sub
      f = i * coef
      arr19.append(f)
  z += 1
print(len(arr19))
print(sum(arr19))

52
192995557715.0451

In [602]:
z = 0
sub = 0.0
arr20 = []
for i in df1['revenue']:
  if 364 < z <= 372:        #январь февраль
      coef = 0.03
      sub += 0.04
      coef += sub
      f = i * coef
      arr20.append(f)
  elif 372 < z <= 386:    # весна
      coef = 0.03
      sub += 0.029
      coef += sub
      f = i * coef
      arr20.append(f)
  elif 386 < z <= 399:   #лето
      coef = 0.016
      sub += 0.042
      coef += sub
      f = i * coef
      arr20.append(f)
  elif 399 < z <= 412:     #осень
      coef = 0.04
      sub += 0.04
      coef += sub
      f = i * coef
      arr20.append(f)
  elif 412 < z <= 416:         #декабрь
      coef = 0.05
      sub += 0.08
      coef += sub
      f = i * coef
      arr20.append(f)
  z += 1
print(len(arr20))
print(sum(arr20))

52
224980250004.16312

In [603]:
z = 0
sub = 0.0
arr21 = []
for i in df1['revenue']:
  if 416 < z <= 425:        #январь февраль
      coef = 0.05
      sub += 0.03
      coef += sub
      f = i * coef
      arr21.append(f)
  elif 425 < z <= 438:    # весна
      coef = 0.053
      sub += 0.04
      coef += sub
      f = i * coef
      arr21.append(f)
  elif  438 < z <= 451:   #лето
      coef = 0.054
      sub += 0.032
      coef += sub
      f = i * coef
      arr21.append(f)
  elif 451 < z <= 464:     #осень
      coef = 0.04
      sub += 0.048
      coef += sub
      f = i * coef
      arr21.append(f)
  elif z > 464:         #декабрь
      coef = 0.042
      sub += 0.04
      coef += sub
      f = i * coef
      arr21.append(f)
  z += 1
print(len(arr21))
print(sum(arr21))

52
228898711546.4581

In [604]:
fin_arr = []
fin_arr = arr13 + arr14 + arr15 + arr16 + arr17 + arr18 + arr19 + arr20 + arr21
len(fin_arr)

469

In [607]:
df1 = df1.drop(columns = 'revenue', axis = 1)

In [610]:
df1['revenue'] = fin_arr
df1

         weaks       revenue
0   2013-01-06  1.403077e+08
1   2013-01-13  1.575385e+08
2   2013-01-20  1.747692e+08
3   2013-01-27  1.920000e+08
4   2013-02-03  2.092308e+08
..         ...           ...
464 2021-11-28  8.235192e+09
465 2021-12-05  8.420154e+09
466 2021-12-12  8.596308e+09
467 2021-12-19  8.772462e+09
468 2021-12-26  8.948615e+09

[469 rows x 2 columns]

In [618]:
fa = []
for i in df1['revenue']:
    t = round(i)
    fa.append(t)
len(fa)

469

In [620]:
df1['revenue'] = fa
df1

         weaks     revenue
0   2013-01-06   140307692
1   2013-01-13   157538462
2   2013-01-20   174769231
3   2013-01-27   192000000
4   2013-02-03   209230769
..         ...         ...
464 2021-11-28  8235192308
465 2021-12-05  8420153846
466 2021-12-12  8596307693
467 2021-12-19  8772461539
468 2021-12-26  8948615385

[469 rows x 2 columns]

In [621]:
df1.to_csv('revenue.csv')